<h1>Sign Up</h1>
<br></br>
<form action="/signup" method="POST">
  <p>Name: <input type="text" name="name" id="name"></p>
  <p>Email: <input type="text" name="email" id="email"></p>
  <p>Company: <input type="text" name="company_name" id="company_name"></p>
  <p>Password: <input type="text" name="password" id="password"></p>
  <input type="submit" value="Sign up!" id="signup">
</form>